<!--logged-->
<div data-ng-controller="sessionCtrl as sCtrl" ng-cloak>

    <md-content>
        <br>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-svg-icon="_common/img/svg/logo-ico.svg" aria-label="GMS Boilerplate"></md-icon>
                <!--<span data-ng-bind="sCtrl.oEntity.name || sCtrl.oEntity.username"></span>-->
                <md-menu-bar>
                    <span>&boxv;</span>
                    <!--User-->
                    <md-menu>
                        <button class="md-raised md-primary" ng-click="$mdMenu.open()">
                            Usuarios
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="sCtrl.go('/users')">
                                    Ver listado
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="sCtrl.go('/users/new')">
                                    Nuevo
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <!--owned entities-->
                    <md-menu>
                        <button class="md-primary" ng-click="$mdMenu.open()">
                            Entidades
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="sCtrl.go('/owned-entities')">
                                    Ver listado
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="sCtrl.go('/owned-entities/new')">
                                    Nueva
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>

                <span flex></span>

                <!--session info-->
                <div data-ng-controller="fabSpeedDial as fsd" class="lock-size" layout="row" layout-align="center center">
                    <md-fab-speed-dial md-open="fsd.isOpen" md-direction="{{fsd.selectedDirection}}"
                                       ng-class="fsd.selectedMode">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-mini">
                                <md-tooltip ng-show="sCtrl.user.username || sCtrl.user.email" md-direction="down">
                                    {{sCtrl.user.username || sCtrl.user.email}}
                                </md-tooltip>
                                <md-icon md-svg-src="_common/img/svg/profile.svg"></md-icon>
                            </md-button>
                        </md-fab-trigger>

                        <md-fab-actions>

                            <md-button aria-label="Cerrar Sessión" class="md-fab md-mini md-warn" ng-click="sCtrl.logout()">
                                <md-tooltip md-direction="down">Cerrar sessi&oacute;n</md-tooltip>
                                <md-icon md-no-ink md-svg-src="_common/img/svg/exit.svg" aria-label="Cerrar session"></md-icon>
                            </md-button>

                            <md-button aria-label="Seleccionar Entidad" class="md-fab md-mini md-hue-1" ng-click="sCtrl.go('/main')">
                                <md-tooltip md-direction="down">Seleccionar Entidad</md-tooltip>
                                <md-icon md-no-ink md-svg-src="_common/img/svg/owned-entity.svg" aria-label="Seleccionar Entidad"></md-icon>
                            </md-button>

                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
        </md-toolbar>

    </md-content>

</div>