
<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navbar navbar-styled1">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        &lt;!&ndash;<a href="" class=" pull-left btn btn-xs btn-primary" data-ng-click="vm.new()">
            <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs hidden-sm">Nuevo</span>
        </a>&ndash;&gt;
    </div>

    <div class="mrg-left-m-19 mrg-left-m-38 col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div ng-include='"client/app/modules/../../../_common/html/includes/list/resultPerPage.html"'></div>
    </div>


</div>-->



<div ng-cloak layout-gt-sm="row" layout="column" >

    <div flex-gt-sm="50" flex>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Etiqueta</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="item in vm.entities.all">
                    <div class="md-list-item-text" layout="column">
                        <h3 data-ng-bind="item.label | caser"></h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <md-divider></md-divider>

    <div flex-gt-sm="50" flex>

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Nombre</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="item in vm.entities.all">
                    <div class="md-list-item-text" layout="column">
                        <h3 data-ng-bind="item.name | caser"></h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

</div>

<br>
<md-divider ng-show="!vm.entities.loading && vm.entities.all.length"></md-divider>
<br>

<div  data-ng-show="!vm.entities.loading && vm.entities.all.length">
    <md-content>
        <cl-paging flex cl-pages="pc.getTotalPages()"
                   cl-steps="pc.getMaxLinks()"
                   cl-page-changed="vm.changePage(pc.currentPage)"
                   cl-align="center center"
                   cl-current-page="pc.currentPage"></cl-paging>

        <br>
    </md-content>
</div>

<div data-ng-hide="!vm.entities.loading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>