<div class="center-block blocked-2-styled">
    <form data-ng-show="vm.entity" role="form" name="editUserForm">
        <!--username and password-->
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="userUserName">Usuario</label>
                    <input type="text" class="form-control" id="userUserName" name="userUserName"
                           placeholder="Escriba el usuario"
                           data-ng-model="vm.entity.username">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="userPass">Contrase&ntilde;a</label>
                    <input type="password" class="form-control" id="userPass" name="userPass"
                           placeholder="Escriba la contraseña"
                           data-ng-model="vm.entity.password">
                </div>
            </div>
        </div>
        <!--name and repeat password-->
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="userName">Nombre</label>
                    <input type="text" class="form-control" id="userName" name="userName"
                           placeholder="Escriba el nombre del usuario"
                           data-ng-model="vm.entity.name">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="userPass2">Cofirmar ontrase&ntilde;a</label>
                    <input type="password" class="form-control" id="userPass2" name="userPass2"
                           placeholder="Escriba la contraseña de nuevo"
                           data-ng-model="vm.entity.password2">
                </div>
            </div>
        </div>
        <!--email and roles-->
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label for="userEmail">Email</label>
                    <input type="text" class="form-control" id="userEmail" name="userEmail"
                           placeholder="Escriba el correo electrónico"
                           data-ng-model="vm.entity.email">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="form-group">
                        <label class="control-label">Roles</label>
                        <ui-select multiple ng-model="vm.roles.selected" name="roles"
                                   ng-keypress="vm.setIsSearching(true)"
                                   on-select="vm.setIsSearching(false)">
                            <ui-select-match placeholder=" Seleccione los roles">
                                <span data-ng-bind="$item.label"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="item in vm.roles.all"
                                               refresh="vm.searchRoles($select.search)"
                                               refresh-delay="500">
                                <span data-ng-bind="item.label"></span>
                                <br/>
                                <small>
                                    <span data-ng-bind="item.description | trimmer:20:'...'"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mrg-top-12-pc hand-pointer">
                    <span data-toggle="tooltip" data-placement="right" title="Ver todos"
                          class="glyphicon glyphicon-transfer" aria-hidden="true" data-ng-click="vm.searchAllRoles()"
                          data-ng-hide="vm.roles.allLoaded"></span>
                    <span data-toggle="tooltip" title="Solo en esta casa"
                          class="glyphicon glyphicon-arrow-left" aria-hidden="true" data-ng-click="vm.loadRoles()"
                          data-ng-show="vm.roles.allLoaded"></span>
                </div>
            </div>
        </div>

        <div class="form-action">
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-primary btn-sm" href="" data-ng-click="vm.save(editUserForm)">Guardar</a>
                    <a class="btn btn-default btn-sm" href="" data-ng-click="vm.cancel()">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

    <div data-ng-show="vm.entityData.loading">
        <div class="rrms-screen-loader" data-screen-type="2">
        </div>
    </div>
</div>