<div data-ng-cloak>

    <form data-ng-show="vm.entity" role="form" name="editUserForm">
        <div layout="row" layout-padding layout-wrap>
            <div flex="50">
                <md-content class="md-no-momentum">
                    <!--name-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Nombre</label>
                        <md-icon md-svg-src="_common/img/social/ic_person_outline_24px.svg"></md-icon>
                        <input ng-model="vm.entity.name" type="text" name="name" required/>

                        <div ng-messages="editUserForm.name.$error" md-auto-hide="false">
                            <div ng-message="required">
                                EL nombre es obligtorio
                            </div>
                        </div>
                    </md-input-container>

                    <!--username-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Usuario</label>
                        <md-icon md-svg-src="_common/img/social/ic_person_24px.svg"></md-icon>
                        <input ng-model="vm.entity.username" type="text" name="username" required/>

                        <div ng-messages="editUserForm.username.$error" md-auto-hide="false">
                            <div ng-message="required">
                                EL usuario es obligtorio
                            </div>
                        </div>
                    </md-input-container>

                    <!--email-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon md-svg-src="_common/img/communication/ic_email_24px.svg"></md-icon>
                        <input ng-model="vm.entity.email" type="email" name="email" required/>

                        <div ng-messages="editUserForm.email.$error" md-auto-hide="false">
                            <div ng-message="required">
                                El email es obligtorio
                            </div>
                            <div ng-message="email">
                                El texto no parece ser un email v&aacute;lido
                            </div>
                        </div>
                    </md-input-container>
                </md-content>
            </div>

            <div flex="50">
                <md-content class="md-no-momentum">
                    <!--password-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Contrase&ntilde;a</label>
                        <md-icon md-svg-src="_common/img/action/ic_lock_24px.svg"></md-icon>
                        <input ng-model="vm.entity.password" type="password" name="password"
                               data-ng-required="vm.arePasswordsRequired()"
                               data-ng-change="vm.checkPasswordMatch()"/>

                        <div ng-messages="editUserForm.password.$error" md-auto-hide="false">
                            <div ng-message="required">
                                La contrase&ntilde;a es obligtoria
                            </div>
                        </div>
                    </md-input-container>

                    <!--repeat password-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Repetir contrase&ntilde;a</label>
                        <md-icon md-svg-src="_common/img/action/ic_lock_outline_24px.svg"></md-icon>
                        <input ng-model="vm.entity.password2" type="password" name="password2"
                               data-ng-required="vm.arePasswordsRequired()"
                               data-ng-change="vm.checkPasswordMatch()"/>
                        <div ng-messages="editUserForm.password2.$error" md-auto-hide="false">
                            <div ng-message="required">
                                Debe repetir la contrase&ntilde;a por seguridad
                            </div>
                        </div>
                        <div ng-messages="vm.passwordMatch" md-auto-hide="false">
                            <div ng-message="notMatch">
                                Las contrase&ntilde;as no coinciden
                            </div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-padding>
                        <div flex="50">
                            <md-checkbox class="m-left-m-10px" ng-model="vm.entity.enabled" aria-label="Activo">
                                Activo
                            </md-checkbox>
                        </div>
                        <div flex="50">
                            <span>Photo will go here</span>
                        </div>
                    </div>

                </md-content>
            </div>

            <!--Roles when single Entity-->
            <div class="m-left-m-10px" flex="100" layout="row" data-ng-controller="chipCtrl as chipCtrl"
                 data-ng-if="vm.roles.all.length && vm.entities.length === 1">
                <div flex="5" layout="center start">
                    <md-icon md-svg-src="_common/img/social/ic_group_24px.svg"></md-icon>
                </div>
                <div flex="95">
                    <md-chips ng-model="vm.roles.selected" md-autocomplete-snap
                              md-transform-chip="chipCtrl.transformChip($chip)"
                              md-require-match="true"
                              md-separator-keys="chipCtrl.separatorKeys">
                        <md-autocomplete
                                md-min-length="0"
                                md-selected-item="chipCtrl.selectedChip"
                                md-search-text="vm.pSearchText"
                                md-items="item in vm.roles.all"
                                md-item-text="item.label"
                                placeholder="Seleccione los roles">
                            <span md-highlight-text="vm.pSearchText">{{item.label}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                                <span>
                                  <strong>{{$chip.label}}</strong>
                                </span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </div>
            <!--todo: show validation errors when no role is selected-->
            <!--for controlling when no role is selected, make form invalid-->
            <input type="hidden" data-ng-if="vm.roles.all.length && !vm.roles.selected.length" required
                   data-ng-model="vm.controlRquired" name="controlRquired"/>

        </div>

        <!--todo: Roles when more than one entity-->
        <div data-ng-if="vm.entities.length > 1 || !vm.entities" layout="row" layout-padding layout-wrap>
            <!--OwnedEntity-->
            <div flex="30">
                <md-virtual-repeat-container>
                    <div md-virtual-repeat="item in sCtrl.user.entities" flex>
                        {{item.name}}
                    </div>
                </md-virtual-repeat-container>
            </div>

            <div flex="70">

            </div>
        </div>

    </form>

    <div data-ng-hide="!vm.entityData.loading" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-divider></md-divider>
    <br/>

    <md-button class="md-primary md-raised"
               ng-click="vm.save(editUserForm)">
        Guardar
    </md-button>
    <md-button class="md-active md-raised"
               ng-click="vm.cancel()">
        Cancelar
    </md-button>

</div>
