<div ng-cloak layout-gt-sm="row" layout="column" >

    <div flex-gt-sm="99" flex>
        <!--change oe view-->
        <md-button aria-label="Ver solo entidades asociadas a mi" class="md-icon-button"
                   ng-show="vm.entities.allLoaded"
                   ng-click="vm.search(true)">
            <md-icon md-svg-src="client/app/modules/_common/img/action/ic_flip_to_back_24px.svg"></md-icon>
            <md-tooltip>Ver solo entidades asociadas a mi</md-tooltip>
        </md-button>
        <md-button aria-label="Ver todas las entidades" class="md-icon-button"
                   ng-hide="vm.entities.allLoaded"
                   ng-click="vm.searchAll(true)">
            <md-icon md-svg-src="client/app/modules/_common/img/action/ic_flip_to_front_24px.svg"></md-icon>
            <md-tooltip>Ver todas las entidades</md-tooltip>
        </md-button>

        <!--add new oe-->
        <md-button aria-label="Nueva entidad" class="md-icon-button"
                   ng-click="vm.new()">
            <md-icon md-svg-src="client/app/modules/_common/img/content/ic_add_24px.svg"></md-icon>
            <md-tooltip>Nueva entidad</md-tooltip>
        </md-button>

        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="item in vm.entities.all" ng-click="vm.view(item.id)" aria-label="Entidad: {{item.name}}">
                    <div class="md-list-item-text" layout="column">
                        <h3 data-ng-bind="item.name + ' (' + item.username + ')'"></h3>

                        <p>
                            <small>
                                <span style="font-style: italic;" data-ng-bind="item.description"></span>
                            </small>
                        </p>

                        <md-button class="md-secondary md-icon-button" aria-label="editar usuario"
                                   ng-click="vm.edit(item.id)">
                            <md-icon md-svg-src="client/app/modules/_common/img/content/ic_create_24px.svg"></md-icon>
                            <md-tooltip>Editar</md-tooltip>
                        </md-button>

                        <md-button class="md-secondary md-icon-button" aria-label="delete role"
                                   ng-click="vm.remove(item.id)">
                            <md-icon md-svg-src="client/app/modules/_common/img/action/ic_delete_24px.svg"></md-icon>
                            <md-tooltip>Eliminar</md-tooltip>
                        </md-button>

                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>

<div data-ng-show="!vm.entities.loading && vm.entities.all.length && pc.showPagination()">
    <md-content>
        <br>
        <cl-paging flex cl-pages="pc.getTotalPages()"
                   cl-steps="pc.getMaxLinks()"
                   cl-page-changed="vm.changePage(pc.currentPage)"
                   cl-align="center center"
                   cl-current-page="pc.currentPage"></cl-paging>

        <br>
    </md-content>
</div>

<div data-ng-hide="!vm.entities.loading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<!--

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navbar navbar-styled1">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <a href="" class=" pull-left btn btn-xs btn-primary" data-ng-click="vm.new()">
            <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs hidden-sm">Nueva</span>
        </a>
    </div>

    <div class="mrg-left-m-19 mrg-left-m-38 col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div ng-include='"client/app/modules/../../../_common/html/includes/list/resultPerPage.html"'></div>
    </div>


</div>

<table class="table table-responsive table-striped table-hover table-bordered" id="oEntitiesListTable">
    <thead>
    <th style="width: 10%"></th>
    <th style="width: 60%">Nombre</th>
    <th style="width: 30%">Usuario</th>
    </thead>
    <tbody>
    <tr data-dir-paginate="it in vm.entities.all | itemsPerPage:pc.getItemsPerPage()"
        data-total-items="pc.getTotalItems()"
        data-pagination-id="oEntitiesList">
        <td>
            <span class="glyphicon glyphicon-edit hand-pointer text-info" data-ng-click="vm.edit(it.id)"></span>&nbsp;
            <span class="glyphicon glyphicon-remove hand-pointer text-danger" data-ng-click="vm.remove(it.id)"></span>
        </td>
        <td>
            <a href="" data-ng-click="vm.view(it.id)"><span data-ng-bind="it.name"></span></a>
        </td>
        <td>
            <span data-ng-bind="it.username"></span>
        </td>
    </tr>
    </tbody>
</table>

<nav class="text-center" data-ng-show="!vm.entities.loading && vm.entities.all.length">
    <dir-pagination-controls
            pagination-id="oEntitiesList"
            on-page-change="vm.changePage(newPageNumber)"
            max-size="pc.getMaxLinks()"
    >
    </dir-pagination-controls>
</nav>

<div data-ng-hide="!vm.entities.loading">
    <div class="rrms-screen-loader" data-screen-type="2">
    </div>
</div>
-->
