<div class="demo-md-panel-content"  data-ng-cloak data-ng-show="vm.role">

    <div layout="column" layout-padding>
        <form data-ng-show="vm.role" role="form" name="viewRoleForm">
            <md-content class="md-no-momentum">

                <!--name-->
                <md-input-container class="md-icon-float md-block">
                    <label>Nombre</label>
                    <md-icon md-svg-src="_common/img/social/ic_group_24px.svg"></md-icon>
                    <input ng-model="vm.role.label" type="text" readonly>
                </md-input-container>

                <!--description-->
                <md-input-container class="md-icon-float md-block">
                    <label>Descripci&oacute;n</label>
                    <md-icon md-svg-src="_common/img/action/ic_description_24px.svg"></md-icon>
                    <textarea ng-model="vm.role.description" readonly></textarea>
                </md-input-container>


                <!--permissions-->
                <div layout="row" data-ng-controller="chipCtrl as chipCtrl" data-ng-if="vm.permissions.all.length">
                    <div flex="3" layout="center center">
                        <md-icon md-svg-src="_common/img/action/ic_verified_user_24px.svg"></md-icon>
                    </div>
                    <span flex></span>
                    <div flex="95">
                        <md-chips ng-model="vm.permissions.all" readonly="true">
                        </md-chips>
                    </div>
                </div>

                <!--enabled-->
                <md-input-container class="md-block">
                    <md-switch class="md-primary" ng-model="vm.role.enabled" ng-disabled="true">
                        Activo
                    </md-switch>
                </md-input-container>

            </md-content>
        </form>
    </div>


    <div data-ng-hide="vm.role" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-divider></md-divider>
    <br/>

    <md-button class="md-primary md-raised" ng-click="vm.cancel()">
        Volver
    </md-button>
    <md-button class="md-accent md-raised" ng-click="vm.edit()">
        Editar
    </md-button>
    <md-button class="md-warn md-raised" ng-click="vm.remove()">
        Eliminar
    </md-button>
</div>

<!--

<div class="center-block blocked-3-styled">
    <form data-ng-show="vm.role" role="form" name="viewRoleForm">

        <div class="row">
            <div class="form-group">
                <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Permisos</label>
                <div class="mrg-l-m-3 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div ng-show="vm.permissions.total">
                        <table class="table table-responsive table-striped table-bordered" id="rolePermissionsTable">
                            <thead>
                            </thead>
                            <tbody>
                            <tr data-dir-paginate="it in vm.permissions.all | itemsPerPage:vm.permissions.itemsPerPage"
                                data-total-items="vm.permissions.total"
                                data-pagination-id="rolePermissionsId">
                                <td><span data-ng-bind="it.label | caser"></span></td>
                            </tr>
                            </tbody>
                        </table>
                        <nav class="text-center">
                            <dir-pagination-controls
                                    pagination-id="rolePermissionsId"
                                    on-page-change="vm.changePage(newPageNumber)"
                                    max-size="5"
                            >
                            </dir-pagination-controls>
                        </nav>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" data-ng-show="vm.permissions.loading">
                        <div class="rrms-screen-loader" data-screen-type="2">
                        </div>
                    </div>

                    <div ng-hide=" vm.permissions.loading || vm.permissions.total">
                        <div class="rrmsAlert" data-type="warning"
                             data-message="No hay permisos asociados a este rol todavía"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-action">
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-primary btn-sm" href="" data-ng-click="vm.cancel()">Volver</a>
                    <a class="btn btn-default btn-sm" href="" data-ng-click="vm.edit()">Editar</a>
                    <a class="btn btn-danger btn-sm" href="" data-ng-click="vm.remove()">Eliminar</a>
                </div>
            </div>
        </div>
    </form>

    <div data-ng-show="vm.roleData.loading">
        <div class="rrms-screen-loader" data-screen-type="2">
        </div>
    </div>
</div>
-->
