<div data-ng-cloak>

    <form data-ng-show="vm.role" role="form" name="editRoleForm" novalidate>
        <div layout="column" layout-padding>
            <md-content class="md-no-momentum">

                <!--name-->
                <md-input-container class="md-icon-float md-block">
                    <label>{{'string.name' | translate}}</label>
                    <md-icon md-svg-src="client/app/modules/_common/img/social/ic_group_24px.svg"></md-icon>
                    <input ng-model="vm.role.label" type="text" required name="label" />
                    <div ng-messages="editRoleForm.label.$error" md-auto-hide="false">
                        <div ng-message="required">
                            {{'string.name_required' | translate}}
                        </div>
                    </div>
                </md-input-container>

                <!--description-->
                <md-input-container class="md-icon-float md-block">
                    <label>{{'string.description' | translate}}</label>
                    <md-icon md-svg-src="client/app/modules/_common/img/action/ic_description_24px.svg"></md-icon>
                    <textarea ng-model="vm.role.description" required name="description"></textarea>
                    <div ng-messages="editRoleForm.description.$error" md-auto-hide="false">
                        <div ng-message="required">
                            {{'string.description_required' | translate}}
                        </div>
                    </div>
                </md-input-container>


                <!--permissions-->
                <div layout="row" data-ng-controller="chipCtrl as chipCtrl" data-ng-if="vm.permissions.all.length">
                    <div flex="3" layout="center center">
                        <md-icon md-svg-src="client/app/modules/_common/img/action/ic_verified_user_24px.svg"></md-icon>
                    </div>
                    <span flex></span>
                    <div flex="95">
                        <md-chips ng-model="vm.permissions.selected" md-autocomplete-snap
                                  md-transform-chip="chipCtrl.transformChip($chip)"
                                  md-require-match="true"
                                  md-separator-keys="chipCtrl.separatorKeys">
                            <md-autocomplete
                                    md-min-length="0"
                                    md-selected-item="chipCtrl.selectedChip"
                                    md-search-text="vm.pSearchText"
                                    md-items="item in vm.permissions.all"
                                    md-item-text="item.label"
                                    placeholder="{{'PERMISSIONS.select_permissions' | translate}}">
                                <span md-highlight-text="vm.pSearchText">{{item.label | caser}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                            <span>
                              <strong>{{$chip.label | caser}}</strong>
                            </span>
                            </md-chip-template>
                        </md-chips>
                    </div>
                </div>

                <br/>
                <div data-ng-show="vm.permissions.all.length">
                    <md-button md-no-ink class="md-accent" ng-click="vm.showRoleListDialog()" >
                        {{'PERMISSIONS.view_all_available' | translate}}&nbsp;({{vm.permissions.all.length}})
                    </md-button>
                </div>

                <!--enabled-->
                <md-input-container class="md-block">
                    <md-switch class="md-primary" ng-model="vm.role.enabled">
                        {{'string.active' | translate}}
                    </md-switch>
                </md-input-container>

            </md-content>
        </div>
    </form>


    <div data-ng-hide="!vm.roleData.loading" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-divider></md-divider>
    <br/>

    <md-button class="md-primary md-raised"
               ng-click="vm.save(editRoleForm)">
        {{'button.save' | translate}}
    </md-button>
    <md-button class="md-active md-raised"
               ng-click="vm.cancel()">
        {{'button.cancel' | translate}}
    </md-button>
</div>