
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navbar navbar-styled1">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <a href="" class=" pull-left btn btn-xs btn-primary" data-ng-click="vm.new()">
            <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs hidden-sm">Nuevo</span>
        </a>
    </div>

    <div class="mrg-left-m-19 mrg-left-m-38 col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div ng-include='"client/app/modules/../../../_common/html/includes/list/resultPerPage.html"'></div>
    </div>


</div>

<table class="table table-responsive table-striped table-hover table-bordered" id="roleListTable">
    <thead>
    <th style="width: 10%" class="text-center">
        <span data-toggle="tooltip" data-placement="right" title="Ver todos"
              class="glyphicon glyphicon-transfer hand-pointer" aria-hidden="true" data-ng-click="vm.searchAll()"
              data-ng-hide="vm.entities.allLoaded"></span>
        <span data-toggle="tooltip" title="Solo en esta casa"
              class="glyphicon glyphicon-arrow-left hand-pointer" aria-hidden="true" data-ng-click="vm.search()"
              data-ng-show="vm.entities.allLoaded"></span>
    </th>
    <th style="width: 20%">Username</th>
    <th style="width: 45%">Name</th>
    <th style="width: 25%">Email</th>
    </thead>
    <tbody>
    <tr data-dir-paginate="it in vm.entities.all | itemsPerPage:pc.getItemsPerPage()"
        data-total-items="pc.getTotalItems()"
        data-pagination-id="userList">
        <td>
            <span class="glyphicon glyphicon-edit hand-pointer text-info" data-ng-click="vm.edit(it.id)"></span>&nbsp;
            <span class="glyphicon glyphicon-remove hand-pointer text-danger" data-ng-click="vm.remove(it.id)"></span>
        </td>
        <td>
            <a href="" data-ng-click="vm.view(it.id)"><span data-ng-bind="it.username"></span></a>
        </td>
        <td>
            <span data-ng-bind="it.name"></span>
        </td>
        <td>
            <span data-ng-bind="it.email"></span>
        </td>
    </tr>
    </tbody>
</table>

<nav class="text-center" data-ng-show="!vm.entities.loading && vm.entities.all.length">
    <dir-pagination-controls
            pagination-id="userList"
            on-page-change="vm.changePage(newPageNumber)"
            max-size="pc.getMaxLinks()"
    >
    </dir-pagination-controls>
</nav>

<div data-ng-hide="!vm.entities.loading">
    <div class="rrms-screen-loader" data-screen-type="2">
    </div>
</div>