<div class="col-xs-3 col-sm-3 col-md-3col-lg-3"><!--spacer--></div>
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-danger">
        <div class="panel-heading text-center text-uppercase">
            Error en la configuraci&oacute;n del sistema
        </div>
        <div class="panel-body">
            <p class="text-justifys">
            Existe un error en la configuraci&oacute;n del sistema y no se puede acceder al mismo. Contacte con el administrador del mismo si posse uno.
            </p>
        </div>
    </div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3col-lg-3"><!--spacer--></div>