<div ng-cloak layout-gt-sm="row" layout="column" >

    <div flex-gt-sm="99" flex>
        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line" ng-repeat="item in vm.roles.all" ng-click="vm.view(item.id)" aria-label="Role: {{item.label}}">
                    <div class="md-list-item-text" layout="column">
                        <h3 data-ng-bind="item.label"></h3>
                        <p data-ng-bind="item.description"></p>

                        <span flex></span>

                        <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>

<div data-ng-show="!vm.roles.loading && vm.roles.all.length && pc.showPagination()">

    <br>
    <md-divider></md-divider>
    <br>

    <md-content>
        <cl-paging flex cl-pages="pc.getTotalPages()"
                   cl-steps="pc.getMaxLinks()"
                   cl-page-changed="vm.changePage(pc.currentPage)"
                   cl-align="center center"
                   cl-current-page="pc.currentPage"></cl-paging>

        <br>
    </md-content>
</div>

<div data-ng-hide="!vm.roles.loading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
