<div data-ng-cloak>


    <form data-ng-show="vm.entity" role="form" name="viewUserForm">
        <div layout="row" layout-padding layout-wrap>
            <div flex="50">
                <md-content class="md-no-momentum">
                    <!--name-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Nombre</label>
                        <md-icon md-svg-src="client/app/modules/_common/img/social/ic_person_outline_24px.svg"></md-icon>
                        <input ng-model="vm.entity.name" type="text" readonly/>
                    </md-input-container>

                    <!--username-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Usuario</label>
                        <md-icon md-svg-src="client/app/modules/_common/img/social/ic_person_24px.svg"></md-icon>
                        <input ng-model="vm.entity.username" type="text" readonly/>
                    </md-input-container>

                    <!--email-->
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon md-svg-src="client/app/modules/_common/img/communication/ic_email_24px.svg"></md-icon>
                        <input ng-model="vm.entity.email" type="text" readonly/>
                    </md-input-container>
                </md-content>
            </div>

            <div flex="50">
                <md-content class="md-no-momentum">
                    <div layout="row" layout-padding>
                        <div flex="50">
                            <md-checkbox class="m-left-m-10px" ng-model="vm.entity.enabled" aria-label="Activo" disabled>
                                Activo
                            </md-checkbox>
                        </div>
                        <div flex="50">
                            <span>Photo will go here</span>
                        </div>
                    </div>

                </md-content>
            </div>

            <!--Roles when single Entity-->
            <div class="m-left-m-10px" flex="100" layout="row" data-ng-controller="chipCtrl as chipCtrl"
                 data-ng-if="vm.roles.all.length && vm.entities.length === 1">
                <div flex="5" layout="center start">
                    <md-icon md-svg-src="client/app/modules/_common/img/social/ic_group_24px.svg"></md-icon>
                </div>
                <div flex="95">
                    <md-chips ng-model="vm.roles.all" readonly>
                    </md-chips>
                </div>
            </div>
            <!--for controlling when no role is selected, make form invalid-->
            <input type="hidden" data-ng-if="vm.roles.all.length && !vm.roles.selected.length" required
                   data-ng-model="vm.controlRquired"/>

        </div>

        <!--todo: Roles when more than one entity-->
        <div data-ng-if="vm.entities.length > 1 || !vm.entities" layout="row" layout-padding layout-wrap>
            <!--OwnedEntity-->
            <div flex="30">
                <md-virtual-repeat-container>
                    <div md-virtual-repeat="item in sCtrl.user.entities" flex>
                        {{item.name}}
                    </div>
                </md-virtual-repeat-container>
            </div>

            <div flex="70">

            </div>
        </div>

    </form>

    <div data-ng-hide="!vm.entityData.loading && !vm.roles.loading" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <md-divider></md-divider>
    <br/>

    <md-button class="md-primary md-raised" ng-click="vm.cancel()">
        Volver
    </md-button>
    <md-button class="md-accent md-raised" ng-click="vm.edit()">
        Editar
    </md-button>
    <md-button class="md-warn md-raised" ng-click="vm.remove()">
        Eliminar
    </md-button>

</div>